@import url(../App.css);
:root{
    --padding: 2px;
    --border-radius: 5px;
}
.animations-main{
    width: 100%;
    height: fit-content;
    background-color: var(--dark-gray);
    color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 50vh 0;
    row-gap: 50vh;
}

.animation-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 2rem 0 ;
}
.animation-menu h1{
    display: flex;
    align-items: flex-start;
    font-size: 2vw;
}
.animation-menu svg{
    width: 1.5rem;
    height: 1.5rem;
}
.animation-menu button{
    font-size: var(--font-size);
    padding-left: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.options{
    display:flex;
    align-items: center;
    justify-content: center;

}

.text{
    padding: 0 0.5rem;
}



.animation-component{
    
    width: 85%;
    height: fit-content;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.animation-window{
    width: 100%;
    position: relative;
   
}

@property --angle{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits: false;
    
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}


.fancy-border, .fancy-border::before{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 0;
    pointer-events: none;
    background-size: 100% 100%;
    background-image: conic-gradient(from var(--angle), 
        var(--selected-gradient), var(--default-gradient), var(--selected-gradient)
        );
    padding: var(--padding);
    border-radius: var(--border-radius);
    animation: spin 10s linear infinite;
   
}
.fancy-border::after{
    content:'';
    position: absolute;
    height: calc(100% - var(--padding) * 2);
    width: calc(100% - var(--padding) * 2);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: var(--border-radius);
    pointer-events: none;
    background-color: var(--dark-gray);
}
.fancy-border::before{
    filter: blur(1vw);
    opacity: 0.5;
    
}


.code-window{
    width: 100%;
    background-color: green;
}
.hidden{
    z-index: -10;
    position: absolute;
}
.visible{
    z-index: 10;
    position: relative;
}