
:root {
  --black: #000000;
  --white: #FFFFFF;
  --dark-gray: #121212;
  --dark-hover: #191919;
  --hover: #353535;
  --light-gray: #919090;
  --selected: #50C878;
  --dark-selected: #43a865;
  --selected-gradient: #405cd6;
  --default-gradient: #50C878;
  --font-size: calc(0.5rem + 0.5vw);
  --svg-size: calc(0.25vw + 1.5rem);
  --text-transition: 0.45s;
}


body {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  overflow-x: hidden;
  
}

b{
  font-weight: 600;
}
li{

}

@property --scroll-bar-color {
  syntax: '<color>';
  initial-value: #43a865;
  inherits: true;
}


::-webkit-scrollbar{
  width: 5px;
  
  background-color: var(--dark-gray);
}
::-webkit-scrollbar-thumb{
  background: var(--scroll-bar-color);
  border-radius: 5px;
  /* background-color: color-mix(in srgb, var(--selected-gradient) 25%, color-mix(in srgb, var(--default-gradient) 25%, var(--dark-gray) 75%) 75%); */
}
::-webkit-scrollbar-thumb:hover{
  /* background-image: linear-gradient(to bottom, var(--default-gradient), var(--selected-gradient)); */
  cursor:pointer;
  
  
  
  --scroll-bar-color: var(--selected);

}


svg{
  width: var(--svg-size);
  height: var(--svg-size);

}
stop{
  transition: stop-color var(--text-transition) ease;
}

button {
  background-color: inherit;
  border: none;
  outline: none;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  color: var(--white);
}

/* button:not(:focus){
  outline: none;
} */

a {
  text-decoration: none;
  color: var(--white);
}

.big {
  width: 100%;
  height: 600vh;
}

.main-content {
  height: 100vh;
  box-sizing: border-box;
  transition: --scroll-bar-color 5s ease-in-out;
}

.border-right {
  border-right: 0.1rem solid var(--light-gray);
}