:root {
  --black: #000000;
  --white: #FFFFFF;
  --dark-gray: #121212;
  --hover: #353535;
  --light-gray: #919090;
  --selected: #50C878;
  --selected-gradient: #405cd6;
  --default-gradient: #50C878;
  --font-size: calc(0.5rem + 0.5vw);
  --svg-size: calc(0.25vw + 1.5rem);
  --text-transition: 0.25s;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  font-family: 'Work Sans', 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  overflow-x: hidden;
  
}

svg{
  width: var(--svg-size);
  height: var(--svg-size);

}
stop{
  transition: stop-color var(--text-transition) ease;
}

button {
  background-color: inherit;
  outline: none;
  border: none;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
}

.big {
  width: 100%;
  height: 600vh;
}

.main-content {
  height: 100vh;
  box-sizing: border-box;
}

.border-right {
  border-right: 0.1rem solid var(--light-gray);
}